/* type selector */
body {
    /* rgba(red, green, blue, alpha(transparency)) */
    background: rgba(200, 200, 250, 0.5);
    background: linear-gradient(to bottom, #8fffff, #ffffff);
    font-family: sans-serif;
}

/* id selector */
#title {
    color: rgb(86, 133, 250);
}

/* class selector */
.subtitle {

}

/* shows borders around everything *//*
* { border: 1px solid black}
*/

/* class selector */
.para-text {

}

#rainbow-gradient {
    height: 10px;
    width: 100%;

    background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
}

#radial-gradient {
    height: 300px;
    width: 55%;
    background: radial-gradient(circle, red, #9f009f, blue);
    border: 5px solid black;
    padding: 0 20px 0 20px;
    margin: 20px;
    float: right;
}

#form {

}

/* type selector for the 2nd child of a list item */
li:nth-child(2) {

}

/* style multiple selectors at once */
#link:link, #google-link:link {
    color: rgb(0, 0, 255);
}

#google-link:visited {
    color: rgb(128, 0, 255);
}

a:hover {
    color: rgb(0, 255, 0);
}
